body {
    margin-left: 100px;
    margin-right: 100px;
}

.code {
    background-color: gainsboro;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    border: 2px solid black;
    width: 1000px;
}
