body {
    padding-left: 50px;
}

#magicNumber {
    font-size: 30px;
    font-weight: bold;
    color: darkred;
}

#square {
    width: 100px;
    height: 100px;
    background-color: blue;
}

#circle {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
}

#chicken {
    width: 50px;
}

#color {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

#wally {
    width: 100px;
    display: none;
}

#smile {
    width: 100px;
}

#frown {
    width: 100px;
    display: none;
}


#animate {
    position: relative;
    margin: 70px;
    width: 100px;
    height: 90px;
}

#animate:before,
#animate:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

#animate:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

#stop-go {
    width: 100px;
      height: 100px;
      background: red;
      border-radius: 50%
}

#parTouch {
    background-color: lightgray;
    border: solid 2px purple;
    padding: 10px;
}